[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
molecule = {extras = ["docker", "lint"],version = "*"}

[packages]
ansible = "*"

[requires]
python_version = "3.9"
