---

# https://www.jeffgeerling.com/blog/2020/resolving-fedora-dnf-error-no-such-file-or-directory-varlibdnfrpmdblockpid
- name: Fedora | Wait for systemd to complete initialization.  # noqa command-instead-of-module
  command: systemctl is-system-running
  register: systemctl_status
  until: >
    'running' in systemctl_status.stdout or
    'degraded' in systemctl_status.stdout
  retries: 30
  delay: 5
  when: ansible_service_mgr == 'systemd'
  changed_when: false

- name: Fedora | Yum Dependencies
  become: true
  yum:
    name: "{{ dnf_yum_dependencies }}"
    update_cache: true
    state: present

- name: Fedora | Dnf Dependencies
  become: true
  dnf:
    name: "{{ dnf_dependencies }}"
    state: present

- name: Fedora | Add Dnf Repo
  become: true
  command: dnf config-manager --add-repo {{ dnf_repos[ansible_distribution] }}
  args:
    creates: /etc/yum.repos.d/tailscale.repo
    warn: false

- name: Fedora | Install Tailscale
  become: true
  dnf:
    name: "{{ tailscale_package }}"
    state: present
  when: not upgrade_release | bool

- name: Fedora | Install or upgrade Tailscale
  become: true
  dnf:
    name: "{{ tailscale_package }}"
    state: latest
  when: upgrade_release | bool
