---
name: CI Tests

on:
  pull_request:
    branches:
     - master

jobs:
  molecule:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        distro:
          - centos:7
          - ubuntu:18.04

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.x
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install --dev

      - name: Lint
        run: make lint

      - name: Move project to Ansible-required location
        run: |
          mkdir -p ~/.ansible/roles/artis3n.tailscale
          cp -r ./ ~/.ansible/roles/artis3n.tailscale

      - name: Molecule
        run: make test
        env:
          MOLECULE_DISTRO: ${{ matrix.distro  }}
