---
name: Molecule Tests

on:
  # pull_request_target:
  #   branches:
  #     - main
  #   paths-ignore:
  #     - ".devcontainer/**"
  #     - "README.md"
  # TODO: remove before merging, just for testing
  pull_request:

env:
  # https://www.jeffgeerling.com/blog/2020/getting-colorized-output-molecule-and-ansible-on-github-actions-ci
  PY_COLORS: '1'
  ANSIBLE_FORCE_COLOR: '1'

jobs:
  molecule:
    environment: E2E
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        include:
          - image: geerlingguy/docker-centos7-ansible:latest
            command: /lib/systemd/systemd
          - image: geerlingguy/docker-rockylinux8-ansible:latest
          - image: geerlingguy/docker-rockylinux9-ansible:latest
          - image: ghcr.io/artis3n/docker-almalinux8-ansible:latest
          - image: ghcr.io/artis3n/docker-rhel8-ansible:latest
          - image: ghcr.io/artis3n/docker-oraclelinux8-ansible:latest
          - image: ghcr.io/artis3n/docker-amazonlinux2-ansible:latest
            command: /lib/systemd/systemd
          - image: geerlingguy/docker-ubuntu2204-ansible:latest
          - image: geerlingguy/docker-ubuntu2004-ansible:latest
          - image: geerlingguy/docker-ubuntu1804-ansible:latest
            command: /lib/systemd/systemd
          - image: geerlingguy/docker-ubuntu1604-ansible:latest
            command: /lib/systemd/systemd
          - image: cisagov/docker-debian12-ansible:latest
          - image: geerlingguy/docker-debian11-ansible:latest
            command: /lib/systemd/systemd
          - image: geerlingguy/docker-debian10-ansible:latest
            command: /lib/systemd/systemd
          - image: geerlingguy/docker-debian9-ansible:latest
            command: /lib/systemd/systemd
          - image: geerlingguy/docker-fedora31-ansible:latest
          - image: ghcr.io/artis3n/docker-arch-ansible:latest
          - image: ghcr.io/artis3n/docker-opensuse-tumbleweed-ansible:latest
          - image: ghcr.io/artis3n/docker-opensuse-leap-ansible:latest
            command: /lib/systemd/systemd

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install dependency manager
        run: pipx install poetry

      - name: Set up Python 3.x
        id: setup-python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: "3.11"
          cache: 'poetry'

      - name: Install packages
        run: poetry install --no-interaction

      - name: Default scenario
        run: poetry run molecule test --scenario-name default
        env:
          MOLECULE_DISTRO: "${{ matrix.image }}"
          MOLECULE_COMMAND: "${{ matrix.command }}"
          TAILSCALE_CI_KEY: "${{ secrets.TAILSCALE_CI_KEY }}"

      - name: Uninstall scenario
        run: poetry run molecule test --scenario-name state-absent
        env:
          MOLECULE_DISTRO: "${{ matrix.image }}"
          MOLECULE_COMMAND: "${{ matrix.command }}"
          TAILSCALE_CI_KEY: "${{ secrets.TAILSCALE_CI_KEY }}"

  molecule-skip-auth:
    environment: E2E
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install dependency manager
        run: pipx install poetry

      - name: Set up Python 3.x
        id: setup-python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: "3.11"
          cache: 'poetry'

      - name: Install packages
        run: poetry install --no-interaction

      - name: Molecule - Skip Authentication
        run: poetry run molecule test --scenario-name skip-authentication

  molecule-vars-priority:
    environment: E2E
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install dependency manager
        run: pipx install poetry

      - name: Set up Python 3.x
        id: setup-python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: "3.11"
          cache: 'poetry'

      - name: Install packages
        run: poetry install --no-interaction

      - name: Molecule - Vars Priority Validation
        run: poetry run molecule test --scenario-name vars-priority
        env:
          TAILSCALE_CI_KEY: "${{ secrets.TAILSCALE_CI_KEY }}"

  molecule-args:
    environment: E2E
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install dependency manager
        run: pipx install poetry

      - name: Set up Python 3.x
        id: setup-python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: "3.11"
          cache: 'poetry'

      - name: Install packages
        run: poetry install --no-interaction

      - name: Molecule - Vars Priority Validation
        run: poetry run molecule test --scenario-name args
        env:
          TAILSCALE_CI_KEY: "${{ secrets.TAILSCALE_CI_KEY }}"

  molecule-state-present:
    environment: E2E
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install dependency manager
        run: pipx install poetry

      - name: Set up Python 3.x
        id: setup-python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: "3.11"
          cache: 'poetry'

      - name: Install packages
        run: poetry install --no-interaction

      - name: Molecule - State Present
        run: poetry run molecule test --scenario-name state-present
        env:
          TAILSCALE_CI_KEY: "${{ secrets.TAILSCALE_CI_KEY }}"
